{
	"branches": [
		"main"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "conventionalcommits",
				"releaseRules": [
					{
						"type": "build",
						"scope": "deps",
						"release": "patch"
					}
				]
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "conventionalcommits",
				"presetConfig": {
					"types": [
						{
							"type": "feat",
							"section": "New Features"
						},
						{
							"type": "fix",
							"section": "Bug Fixes"
						},
						{
							"type": "docs",
							"section": "Documentation Changes"
						},
						{
							"type": "perf",
							"section": "Performance Improvements"
						},
						{
							"type": "refactor",
							"section": "Code Refactoring"
						},
						{
							"type": "test",
							"section": "Tests"
						},
						{
							"type": "chore",
							"section": "Miscellaneous Chores"
						},
						{
							"type": "revert",
							"section": "Reverts"
						},
						{
							"type": "style",
							"section": "Code Style Changes"
						},
						{
							"type": "build",
							"section": "Dependencies and Other Build Updates",
							"hidden": false
						}
					]
				}
			}
		],
		"@semantic-release/npm",
		"@semantic-release/github"
	]
}