{
	"branches": [
		"main"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "angular",
				"releaseRules": [
					{
						"type": "build",
						"scope": "deps",
						"release": "patch"
					}
				]
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "angular"
			}
		],
		"@semantic-release/npm",
		"@semantic-release/github"
	]
}